{{% handler:NewPost}}{{!

This is the mustache template file for the tap tracker example.

}}
<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Benny's Blog</title>
<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
</head>
<body>

<div class="top-bar">
<div class="top-bar-left">
<ul class="menu">
<li class="menu-text">Blog</li>
<li><a href="/">Home</a></li>

</ul>
</div>
</div>

<div class="callout large primary">
<div class="row column text-center">
<h1>Edit post</h1>
</div>
</div>

{{#post}}

<form action="{{url}}" method="post">

<div class="row">
<div class="large-12 columns">
<label>Title
<input type="text" name="title" value="{{title}}" />
</label>
</div>
</div>

<div class="row">
<div class="large-12 columns">
<label>Author
<input type="text" name="author" value="{{author}}" />
</label>
</div>
</div>

<div class="row">
<div class="large-12 columns">
<label>Body
<input type="text" name="body"  value="{{body}}" />

</label>
<input type="submit" value="Submit">

</div>
</div>
</form>
{{/post}}
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
$(document).foundation();
</script>
</body>
</html>





