{{% handler:TTHandler}}{{!

This is the mustache template file for the tap tracker example.

}}


	<div class="callout large primary">
		<div class="row column text-center">
			<h1>Blog</h1>
			<h2 class="subheader">A collection of random thoughts</h2>
		</div>
	</div>

	<div class="row medium-8 large-7 columns">

		{{#post}}
		<div class="blog-post">
			<h3><a href="/articles/{{urlTitle}}">{{title}}</a></h3>
			<p>{{body}}</p>
			<div class="callout">
				<ul class="menu simple">
					{{#author}}
					<li><a href="#">Author: {{name}}</a></li>
					{{/author}}
				</ul>
			</div>
		</div>
		{{/post}}

	</div>





