.log-in-form {
  border: 1px solid #cacaca;
  padding: 1rem;
  border-radius: 3px; }

.photo {
    background-color: #ccc;
    border-radius: 100px;
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 15px;
    overflow:hidden;

}

.author {
    border: 1px solid #cacaca;
    border-radius: 3px;
}

h3 a {
   
    color: black;
}