{{% handler:NewPost}}{{!

This is the mustache template file for the tap tracker example.

}}

<div class="callout large primary">
<div class="row column text-center">
<h1>Create a new post</h1>
</div>
</div>


<form action="/posts" method="post">

<div class="row">
<div class="large-12 columns">
<label>Title
<input type="text" name="title" />
</label>
</div>
</div>

<div class="row">
<div class="large-12 columns">
<label>Body
<input type="text" name="body" />

</label>
<input type="submit" value="Submit">

</div>
</div>
</form>





