
<div class="row medium-8 large-7 columns">
	<form method="POST" action="login" id="login">
		<label>Email Address: <input type="text" name="email" id="email"></label><br>
		<label>Password: <input type="password" name="password" id="password"></label><br>
		<button type="submit" name="Login">Login</button>
	</form>
</div>
